<h2>My People</h2>

<div>
    <label for="new-people">Person name: </label>
    <input id="new-people" #peopleName />
    <button class="add-button" (click)="add(peopleName.value); peopleName.value=''">
      Add Person
    </button>
  </div>
  <ul class="peoples">
    <li *ngFor="let people of peoples">
      <a routerLink="/detail/{{people.id}}">
        <span class="badge">{{people.id}}</span> {{people.name}}
      </a>
      <button class="delete" title="delete people"
        (click)="delete(people)">x</button>
    </li>
  </ul>
  

<app-people-detail [people]="selectedPeople"></app-people-detail>