a {
    background-color: #f0f0f3;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    color: rgb(17, 1, 1);
    width: 10%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  